.keyboard {
  width: 1200px;
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  transform-style: preserve-3d;
  perspective: 1000px;
}

@import "white-keys";
@import "black-keys";

.white-key-container {
  width: 100px;
  height: 50px;
  position: relative;
  float: left;
}

.white-key {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transform: rotateX(-27.5deg);

  figure {
    margin: 0;
    display: block;
    position: absolute;
  }

  .front  {
    border: 2px solid black;
    background: white;
    width: 100px;
    height: 50px;
    transform: rotateY(   0deg ) translateZ( 0px );
   }

  .back   {
    width: 100px;
    height: 50px;
    transform: rotateX( 180deg ) translateZ( 400px );
   }

  .right  {
    z-index: 3;
    right: -150px;
    width: 400px;
    height: 50px;
    transform: rotateY(  90deg ) translateZ( 50px ) translateX(200px);
   }

  .left   {
    z-index: 3;
    left: -150px;
    width: 400px;
    height: 50px;
    transform: rotateY( -90deg ) translateZ( 50px ) translateX(-200px);
   }

  .top    {
    border: 2px solid black;
    z-index: 100;
    background: white;
    top: -175px;
    width: 100px;
    height: 400px;
    transform: rotateX(90deg) translateZ( 25px ) translateY(-200px);
   }

  .bottom {
    z-index: 2;
    bottom: -175px;
    width: 100px;
    height: 400px;
    transform: rotateX( -90deg ) translateZ( 25px ) translateY(200px);
   }
}

.black-key {

}
