.keyboard {
  width: 1000px;
  position: absolute;
  bottom: 80px;
  left: 50%;
  transform: translateX(-50%);
  transform-style: preserve-3d;
  perspective: 1000px;
}

@import "white-keys";
@import "black-keys";
